/* YOUR CUSTOM CSS */


#myprofile-savebtn{
	text-align: center;
}

#adress-text{
	width: 70%;
	float: left;
	
}

#adress-btn{
	width: 30%;
}

#address-search-outline{
	width: 100%;
	height: 43.78px;
	
}

.imgs_wrap{
	width: 200px;
	height: 200px;
	
}

/* #fa-user:before{
	content: "\f0e0";
} */


@media (min-width: 768px){
	.col-my-md-20 {
	    -ms-flex: 0 0 20%;
	    flex: 0 0 20%;
	    max-width: 20%;
	}
}
.col-my-md-20{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#payment-amount{
	width: 100%;
	height: 60px;
}

#imageDetail-table{
	width: 100%;
}

#radio-outline{
	width: 30%;
	height: 100%;
	float: left;
}

#present-condition1{
	width: 20%;
	height: 100%;
	float: left;
	color: #0054FF;
}

#present-condition2{
	width: 20%;
	height: 100%;
	float: left;
	color: red;
}

#text-num{
	width: 100%;
	height: 100%;
	border:none;
	border-right:0px; 
	border-top:0px; 
	boder-left:0px; 
	boder-bottom:0px;
}


/* admin계정에서 미용사 수락 */
.tr-button{
	float: left;
	background-color: orange;
	border-color: 1px solid black;
	width: 100px;
	height: 30px;
	text-align: center;
	
}

