@charset "UTF-8";

#grooming_qnaboard_customlist_form{
	width: 100%;
	padding-left : 250px;
}
@media (max-width:380px){
	#grooming_qnaboard_customlist_form{
		width:100%;
 		padding-left : 0px;
	}
}

/* 공지사항 리스트 최상위 div */
#grooming_qnaboard_customlist_div{
	width: 100%;
}

#grooming_qnaboard_customlist_section{
	width : 80%;
	margin-left : 10%;
	margin-right : 10%;
}

/* 공지사항 (제목=공지사항) */
#grooming_qnaboard_customlist_pagetitle{
	min-width : 1190px;
	margin-top : 2%;
	margin-bottom : 5%;
	margin-left : 10%;
	margin-right : 10%;
	font-size: 28px;
    font-weight: 700;
    color: #333333;
   
    
}
@media (maxwidth:380px) {
	#grooming_qnaboard_customlist_pagetitle{
		margin-left : 0px;
	}
}
/* 공지사항 폼 */

#grooming_qnaboard_customlist_maintitle{
	margin-top: 10%;
	margin-bottom : 15%;
	font-size: 30px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    color : black;
}

#grooming_qnaboard_customlist_articlelist{
	max-width: 1100px;
	color : black;
	height : 1000px;
}
@media screen and (max-width:375px){
	#grooming_qnaboard_customlist_articlelist{
		height : auto;
	}
}
#grooming_qnaboard_customlist_tablediv{
	width:100%;
	margin-top : 5%;
}

#gr_qna_ul{
	width : 100%;
}
@media screen and (max-width:375px){
	#gr_qna_ul{
		padding-left:0px;
	}
}


#gr_qna_li{
	width: 100%;
	list-style:none;
	border-bottom: 1px solid black;
	border-collapse : collapse;
}

#gr_qna_a{
	width: 80%;
	margin-left : 20px;
	margin-right : 10%;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	
}
#gr_qna_title{
	font-size: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	float:left;
	padding : 20px;
}
@media screen and (max-width:375px){
	#gr_qna_title{
		font-size: 14px;
		overflow: auto;
		text-overflow: none;
		white-space: normal;
		float:left;
		padding : 20px 0px;
	}
}


#gr_qna_regdate{
	font-size: 20px;
	float: right;
	padding : 20px;
}
@media screen and (max-width: 1620px) {
	#gr_qna_regdate{
		display: none;
	}
}
#gr_qna_writer{
	font-size: 20px;
	float: right;
	padding : 20px;
}

#gr_qna_slideul{
	width :100%;
	margin-left : 20px;
	padding : 26px 30px;
	font-size: 16px;
}
@media screen and (max-width:375px){
	#gr_qna_slideul{
		margin-left : 20px;
		font-size: 14px;
		padding: 20px 0px;
	}
}


#gr_qna_slideli{
	 list-style:none;
}

#grooming_qnaboard_customlist_tr{
	padding-top : 10px;
	padding-bottom : 10px;
	border-top: 1px solid black;
	width:80%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
@media (max-width:380px){
	#grooming_qnaboard_customlist_tr{
		width : 100%;
		font-size: 12px;

	}
}

#grooming_qnaboard_customlist_tr1{
	padding-top : 10px;
	padding-bottom : 10px;
	width:80%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;

}
@media (max-width:380px){
	#grooming_qnaboard_customlist_tr1{
		width : 100%;
		font-size: 12px;
	}
}

#grooming_qnaboard_customlist_tr2{
	padding-top : 10px;
	padding-bottom : 10px;
	border-top: 1px solid black;
	width:80%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    display : none;
}
@media (max-width:380px){
	#grooming_qnaboard_customlist_tr2{
		width : 100%;
		font-size: 12px;
	}
}

#grooming_qnaboard_customlist_td1{
	width: 85%;
	margin-left : 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#grooming_qnaboard_customlist_td0{
	width:80%;
	margin-left : 2%;
	margin-right : 2%;
	overflow: hidden;
}

#grooming_qnaboard_customlist_td2{
	width: 15%;
	margin-right : 20px;
	
}
@media screen and (max-width: 1200px) {
	#grooming_qnaboard_customlist_td2{
		display: none;
	}
}

 
#grooming_qnaboard_customlist_button{
	padding-top : 30px;
	padding-bottom : 10px;
	border-top: 1px solid black;
	width:80%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
}
@media (max-width:380px){
	#grooming_qnaboard_customlist_button{
		width : 100%;
	}
}

