@charset "UTF-8";

/* 
			<table id="list_table">
				<tr id="th_line">
					<th class="index">글번호</th>
					<th class="title">제목</th>
					<th class="writer">작성자</th>
					<th class="regdate">작성일자</th>
					<th class="hits">조회수</th>
				</tr>
				
				<tr id="td_line">
					<td class="index">1</td>
					<td class="title">창한이형 개똥멍청이</td>
					<td class="writer">우명</td>
					<td class="regdate">1시간전</td>
					<td class="hits">110</td>
*/



#list_table, #th_line, .bulletpoint, .index, .title, .writer, .regdate, .hits{

	border-top : 1px solid #C3C3C3;
	border-bottom : 1px solid #C3C3C3;
	border-collapse: collapse;
	font-family: "맑은 고딕","Malgun Gothic",AppleSDGothicNeo-Light,"Noto Sans CJK KR",Dotum,
				 "돋움","Microsoft NeoGothic","Droid sans",Sans-serif,roboto,sans-serif,
				 "맑은 고딕","Malgun Gothic",AppleSDGothicNeo-Light,Dotum,"돋움",
				 "Microsoft NeoGothic","Droid sans";
	font-size: 14px;
}


#list_form{
	min-width: 1450px;
}

#size{
	height: 1000px;
}

#list_table{
	
	width: 60%;
	height: 80%;
	margin-left: 20%;
	margin-right : 20%;

	
}

#td_line{
	
	position: relative;
    line-height: 150%;
    font-weight: 400;
	
}

.regdate, .hits, .bulletpoint{
	text-align: center;	
}

.index{
	width: 5%;
	text-align: center;	
}

.bulletpoint{
	width: 10%;
}	

.title{
	width: 50%;
	height: 40px;
	padding-left: 1%;
}
.title:hover{
	text-decoration: underline;
}


.writer{
	width: 15%;
	text-align: center;
	
}
.regdate{
	width: 10%;
	text-align: center;	

}
.hits{
	width: 10%;
	text-align: center;	
	
}

#td_color{
	color: #8c919a;
}