@charset "UTF-8";

#gr_noticeboard_detail_maindiv{
	margin-left : 10%;
	margin-right : 10%;
	margin-top : 200px;
	margin-bottom : 5%; 
	width: 80%;
	height : 700px;
	color : black;
}
@media screen and (max-width:375px) {
	#gr_noticeboard_detail_maindiv{
		width : 100%;
		margin-left : 0;
		margin-right : 0;
		margin-top : 60px;
		margin-bottom : 0; 
		height  : auto;
	}
}

#notice_maindiv2{
	width: 80%;
	margin-left : 10%;
	margin-right : 10%;
}
@media screen and(max-width:375px) {
	#notice_maindiv2{
		width:100%;
		margin-left:0;
		margin-right:0;
	}
}

#notice_maindiv3{
	width: 80%;
	margin-left : 10%;
	margin-right : 10%;
}

#gr_noticeboard_detail_contents{
	height : 480px;
	padding : 10px;
	border : 1px solid #EAEAEA;
}
@media screen and(max-width:375px) {
	#gr_noticeboard_detail_contents{
		height : auto;
	}
}

#gr_noticeboard_detail_title{
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	margin-bottom : 30px;
}
@media screen and (max-width:375px){
	#gr_noticeboard_detail_title{
		font-size :20px;
	}
}
#gr_noticeboard_detail_datehits{
	
	text-align: right;
	margin-bottom : 30px;
	margin-right: 10px;
}

#notice_buttondiv{
	margin-top : 20px;
}

#notice_button{
	float : right;
}