@charset "UTF-8";

#gr_noticeboard_detail_maindiv{
	
	margin-left : 10%;
	margin-right : 10%;
	margin-top : 200px;
	margin-bottom : 5%; 
	width: 80%;
	height : 700px;
	color : black;
}
#gr_noticeboard_detail_contents{
	height : 500px;
}

#gr_noticeboard_detail_title{
	
	font-size: 28px;
	font-weight: 400;
	text-align: center;
	margin-bottom : 30px;
	
}

#gr_noticeboard_detail_datehits{
	
	text-align: right;
	margin-bottom : 30px;
	
}

@media screen and (max-width:375px) {
	#gr_noticeboard_detail_maindiv{
	
		margin-left:10%;
		margin-right:10%;
		margin-bottom:15%;
		width : 80%;
		
	}
}

#notice_button{
	float : right;
}