<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace=" ">
	<update id="updateDes" parameterType="DesignerDTO">
		update gr_designer
		set DE_POINT = DE_POINT + #{de_point}
		where DE_LICENCENUM = #{de_licencenum}
	</update>
	
	<update id="updateDesMinus" parameterType="DesignerDTO">
		update gr_designer
		set DE_POINT = DE_POINT - #{de_point}
		where DE_LICENCENUM = #{de_licencenum}
	</update>

	<select id="selectAllDes" resultType="DesignerDTO">
		select * 
		from gr_paylog
	</select>
	
	<select id="selectPointOne" resultType="DesignerDTO">
		select DE_POINT 
		from gr_designer
		where DE_LICENCENUM = #{de_licencenum}
	</select>
	
	 <insert id="insertMoney" parameterType="DesignerDTO">
	 	insert into gr_paylog
	 	values(#{de_licencenum}, sysdate(), #{de_point})
	 </insert>
	 


</mapper>