<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace=" ">
	<!-- 디자이너 테이블 생성 -->
	<insert id="joinDesigner" parameterType="DesignerDTO">
		insert ignore into gr_designer(mb_id, de_licence,de_approval, de_point, de_instr)
		select #{mb_id}, #{de_licence}, 'N', 0 , #{de_insta}
		from gr_member
		where mb_check = "Y"
	</insert>
	
	<select id="designerInfo" parameterType="DesignerDTO" resultType="DesignerDTO">
		select *
		from gr_designer
		where mb_id = #{mb_id}
	</select>
	
	<!-- 미용사 전체 조회 -->
	<select id="selectDesignerAll" resultType="DesignerDTO">
		select *
		from gr_designer
	</select>
	
	
	<!-- 디자이너 신청한사람 찾는 쿼리 -->
	<select id="designerApplication" resultType="DesignerDTO">
		select *
		from gr_designer
		where de_approval = 'N'
	</select>
	
	<!-- 디자이너 승인하면 de_approval Y 로 바꿔주는 쿼리 -->
	<update id="designerAgree" parameterType="DesignerDTO">
		update gr_designer
		set de_approval = 'Y'
		where mb_id = #{mb_id}
	</update>
	
</mapper>