<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=" ">
	<!-- C -->
	<insert id="insertFaq">
		INSERT INTO gr_faq
		VALUES (#{f_title}, 'admin', #{f_con})
	</insert>
	
	<!-- R -->
	<select id="selectAllFaq" resultType="FaqDTO">
		SELECT * 
		FROM gr_faq
	</select>
	<select id="selectOnebyf_title" resultType="FaqDTO">
		SELECT * 
		FROM gr_faq 
		WHERE F_TITLE = #{f_title}
	</select>
	
	<!-- U -->
	<update id="updateFaq">
		UPDATE gr_faq
		SET F_TITLE = #{f_title}, F_CON = #{f_con}
		WHERE F_TITLE = #{f_title}
	</update>
	
	<!-- D -->
	<delete id="deleteFaq">
		DELETE FROM gr_faq WHERE F_TITLE = #{f_title}
	</delete>
	
	<!-- 게시물의 총 갯수를 구하기 -->
	<select id="faqcount" resultType="int">
		SELECT COUNT(F_TITLE) FROM gr_faq
	</select>
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="faqlistPage" parameterType="hashMap" resultType="FaqDTO">
		SELECT * FROM gr_faq
		LIMIT #{displayPost}, #{postNum}
	</select>
</mapper>