<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=" ">
	<!-- 문의작성 -->
	<insert id="insertInquiry">
		INSERT INTO gr_inquiry(MB_ID, AD_ID, IN_TITLE, IN_CON, IN_NOWDATE, IN_CATEGORY)
		VALUES (#{mb_id}, 'admin', #{in_title}, #{in_con}, NOW(), #{in_category})
	</insert>
	<!-- 문의전체조회 -->
	<select id="selectAllInquiry" resultType="InquiryDTO">
		SELECT * FROM gr_inquiry ORDER BY IN_NUM DESC
	</select>
	<!-- 문의개별조회for detail -->
	<select id="selectOneInquiryByin_num" resultType="InquiryDTO">
		SELECT * FROM gr_inquiry WHERE IN_NUM = #{in_num}
	</select>
	<!-- 문의수정 안할수도/-->
	<update id="updateInquiry">
		UPDATE gr_inquiry
		SET IN_TITLE = #{in_title}, IN_CON = #{in_con}, IN_NOWDATE = now(), IN_CATEGORY = #{in_category}
		WHERE IN_NUM = #{in_num}
	</update>
	<!-- 문의한내용 삭제 -->
	<delete id="deleteInquiry">
		DELETE FROM gr_inquiry WHERE IN_NUM = #{in_num}
	</delete>
	
	<!-- 게시물의 총 갯수를 구하기 -->
	<select id="inquiryCount" resultType="int">
		SELECT COUNT(in_num) FROM gr_inquiry
	</select>
	
	<!-- 게시물 목록 + 페이징 -->
	<select id="inquiryListPage" parameterType="hashMap" resultType="InquiryDTO">
		SELECT * FROM gr_inquiry
		ORDER BY in_num DESC
		LIMIT #{displayPost}, #{postNum}
	</select>
</mapper>