<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace=" ">
	<!-- C -->
	<insert id="insertInquiry">
		INSERT INTO GR_INQUIRY(MB_ID, AD_ID, IN_TITLE, IN_CON, IN_NOWDATE)
		VALUES (#{mb_id}, 'admin', #{in_title}, #{in_con}, now())
	</insert>
	<!-- R -->
	<select id="selectAllInquiry" resultType="InquiryDTO">
		SELECT * FROM GR_INQUIRY ORDER BY IN_NUM DESC
	</select>
	<select id="selectOneInquiryByin_num" resultType="InquiryDTO">
		SELECT * FROM GR_INQUIRY WHERE IN_NUM = #{in_num}
	</select>
	<!-- U -->
	<update id="updateInquiry">
		UPDATE GR_INQUIRY
		SET IN_TITLE = #{in_title}, IN_CON = #{in_con}, IN_NOWDATE = now()
		WHERE IN_NUM = #{in_num}
	</update>
	<!-- D -->
	<delete id="deleteInquiry">
		DELETE FROM GR_INQUIRY WHERE IN_NUM = #{in_num}
	</delete>
</mapper>
<!-- 
	in_num int autoincrement
	mb_id char
	ad_id char
	in_title char
	in_con char
	in_nowdate date
 -->