<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace=" ">
	<select id="loginCheck" parameterType="LoginDTO" resultType="int">
		select count(*) 
		from gr_member
		where MB_ID = #{mb_id}
		and MB_PW = #{mb_pw}
	</select>
	
	<select id="loginOk" parameterType="MemberDTO" resultType="MemberDTO">
		select * 
		from gr_member
		where MB_ID = #{mb_id}
		and MB_PW = #{mb_pw}
	</select>
	
	
	
</mapper>