<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="registMap">
	<insert id="insertShop">
		insert into gr_registration
		values (#{de_licencenum}, #{reg_title},
				#{ref_shopname}, #{reg_shopaddress},
				#{reg_wantdate}, #{reg_price},
				#{reg_con}, now(),
				0, #{reg_img})
	</insert>
</mapper>