<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="registrationMapper">
	<!-- 모든가게 리스트(사용자 입장) -->
	<select id="list" parameterType="Map" resultType="ShopListDTO">
		select r.de_licencenum, r.ref_shopname, 
			r.reg_shopaddress, r.reg_price, 
			r.reg_img, (select mb_phone from gr_member
						where mb_id = (select mb_id
										from gr_designer
										where DE_LICENCENUM = r.de_licencenum)) mb_phone
		from gr_registration r
		where reg_block = 0
		<if test="data!=null and !data.equals('')">
			and r.reg_shopaddress like '%${data}%'
		</if>
	</select>
	
	<!-- 가게 상세 정보 -->
	<select id="shopDetail" resultType="RegistrationDTO">
		select *
		from gr_registration
		where de_licencenum = ${de_licencenum}
	</select>
	
	<!-- '그'가게 상세이미지들. -->
	<select id="infoImgs" resultType="String">
		select reg_addimg
		from reg_img
		where de_licencenum = ${de_licencenum}
	</select>
	
	<!-- 가게 등록 -->
	<insert id="insertShop" parameterType="RegistrationDTO">
		insert into gr_registration
		values (#{de_licencenum}, #{ref_shopname}, 
				#{reg_shopaddress}, #{reg_price},
				#{reg_con}, now(), 0, #{reg_img})
	</insert>
	
	<!-- 상세 이미지 등록 -->
	<insert id="insertShopInfoimg" parameterType="RegistrationDTO">
		insert into reg_img
		values (#{de_licencenum}, #{reg_addimg})
	</insert>
	
	<!-- 블럭상태 변경 -->
	<update id="BlockByAdmin" parameterType="RegistrationDTO">
		update gr_registration
		set reg_block = #{reg_block}
		where de_licencenum = #{de_licencenum}
	</update>
	
	<!-- 운영자용 모든 샵 리스트 -->
	<select id="allList">
		select r.de_licencenum, r.ref_shopname, 
				r.reg_shopaddress, r.reg_price, 
				r.reg_img, (select mb_phone from gr_member
							where mb_id = (select mb_id
											from gr_designer
											where DE_LICENCENUM = r.de_licencenum)) mb_phone
		from gr_registration r
		where reg_block = 0
		<where>
			<choose>
				
			</choose>
		</where>
<!-- 		<if test="data!=null and !data.equals('')"> -->
			
<!-- 		</if> -->
	</select>
	
</mapper>