<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reservationMapper">
	<!-- 현재 예약 리스트 중복 쿼리문 -->
	<sql id="list">
		<![CDATA[
		select * from gr_reservation
		]]>
		<if test="#{de_licencenum}!=null"><!-- 미용사 -->
		<![CDATA[
			where DE_LICENCENUM = #{de_licencenum}
			and not RE_APPROVAL like 'N'
		]]>
		</if><if test="#{de_licencenum}==null"><!-- 사용자 -->
		<![CDATA[
			where MB_ID = #{mb_id}
			and RE_APPROVAL like 'Y'
		]]>
		</if>
		<![CDATA[ and RE_DATA >= date_add(now(), interval -1 day)
		order by RE_DATE desc ]]>
	</sql>
	<!-- 현재 승인된 유효한 예약 리스트 (사용자 & 미용사) -->
	<select id="getReservList" parameterType="ReservationDTO" resultType="ReservationDTO">
			<include refid="list"/>
	</select>
	
	<!-- 예약 내역 리스트 -->
	<select id="getAllMyList" parameterType="String" resultType="ReservationDTO">
		select * from gr_reservation
		where MB_ID = #{mb_id}
		order by RE_DATE desc
	</select>
	
	<!-- 상세정보 -->
	<select id="selectByNum" parameterType="int" resultType="ReservationDTO">
		select * from gr_reservation
		where DE_LICENCENUM = #{de_licencenum}
	</select>
	
	<!-- 예약 승인 -->
	<update id="checkReservY" parameterType="ReservationDTO">
		update gr_reservation
		set RE_APPROVAL = '승인'
		where RE_NUM = #{re_num};
	</update>
	
	<!-- 예약  미승인 -->
	<update id="checkReserN" parameterType="ReservationDTO">
		update gr_reservation
		set RE_APPROVAL = '취소'
		where RE_NUM = #{re_num};
	</update>
	
	<!-- 미승인 사유 작성 -->
	<insert id="insertFeedBack" parameterType="ReservationDTO">
		insert into res_because
		values (#{re_num}, #{bc_con}) 
	</insert>
	
	<!-- 예약 작성 -->
	<insert id="insertReserv" parameterType="ReservationDTO"><!-- 예약 번호는 자동 생성 -->
		insert into gr_reservation (DE_LICENCENUM, MB_ID, RE_APPROVAL, RE_DATE, 
									RE_NOWDATE,	RE_SPECIES, RE_WEIGHT, RE_CUT)
		values (#{de_licencenum}, #{mb_id}, 'U', #{re_date}, 
				now(), #{re_species}, #{re_weight}, #{re_cut})
	</insert>
	
	<!-- 미용사가 예약정보 가져오기 -->
	<select id="agreedReservation" resultType="ReservationDTO" parameterType="ReservationDTO">
		SELECT *
		from gr_reservation r, gr_registration d, gr_member m
		where r.mb_id = m.mb_id
		and r.de_licencenum = d.de_licencenum
		and r.de_licencenum = #{de_licencenum}
	</select>
	
	<!-- 사용자가 예약정보 가져오기 -->
	<select id="myReservation" resultType="ReservationDTO" parameterType="ReservationDTO">
		SELECT  *
		FROM  gr_reservation r, gr_registration d, gr_member m
		WHERE  r.de_licencenum = d.de_licencenum
		AND r.mb_id = m.mb_id
		AND  r.mb_id = #{mb_id}
	</select>
	
	<!-- 예약 취소 이유 가져오는 부분 -->
	<select id="cancelReason" resultType="ReservationDTO">
		select *
		from res_because
		where re_num = #{re_num}
	</select>
	
	<!-- ============ -->
	<select id="getaddrBylnum" parameterType="int" resultType="String">
		select REG_SHOPADDRESS
		from gr_registration
		where de_licencenum = #{de_licencenum};
	</select>
	
</mapper>