<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="reservationMapper">
	<!-- 현재 예약 리스트 중복 쿼리문 -->
	<sql id="list">
		select * from gr_reservation
		<if test="#{de_licencenum}!=null">
			where  = #{de_licencenum}
		</if><if test="">
			where  = #{who}
		</if>
		and re_date <![CDATA[>=]]> date_add(now(), interval -1 day)
		order by RE_DATE desc
	</sql>
	<!-- 현재 예약 리스트() -->
	<select id="getReservList" parameterType="ReservationDTO" resultType="ReservationDTO">
			<include refid="list">
				<property name="type" value="#{type}"/>
				<property name="who" value="#{who}"/>
			</include>
	</select>
	
	<!-- 예약 내역 리스트 -->
	<select id="getAllMyList" parameterType="String" resultType="ReservationDTO">
		select * from gr_reservation
		where mb_id = #{mb_id}
		order by RE_DATE desc
	</select>
</mapper>